@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background-color: var(--tertiary-color); 
    color: var(--primary-color); 
}

/* scrollbar start */
::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:window-inactive{
    background-color: transparent;
}
/* scrollbar end */

:root {
    --background-primary: #121215;
    --background-secondary: #1f1f1f;
    --background-tertiary: #252525;
    --primary-color: #fff;
    --secondary-color: #787878;
    --tertiary-color: #3a4c7a;
}

body {
    background-color: var(--background-primary);
    color: var(--primary-color);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    letter-spacing: 1px;
}

body, html {
    scroll-behavior: smooth !important;
}

section {
    width: 100vw;
    min-height: 100vh;
}

.fa-check {
    color: var(--tertiary-color);
}

.activities_card {
    position: relative;
    width: 100%;
    min-height: 330px;
    background-color: var(--background-tertiary);
    border-radius: 20px;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.activities_card:hover {
    transform: translateY(-5%);
}

.activities_card.save_energy {
    min-height: 280px !important;
}

.activities_card.save_energy .progress_bar {
    background-color: var(--tertiary-color);
    width: 0;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s ease-in-out;
}

.activities_card.save_energy:hover .progress_bar {
    width: 100%;
}

.decoration_circle {
    width: 130px;
    height: 250px;
    position: absolute;
    z-index: -1;
}

/* star start */
.star {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px 2px white; 
    z-index: -100;
    opacity: 0.3;
}

@media all and (min-width: 1024px) {
    .decoration_circle {
        width: 200px;
        height: 400px;
    }
}

@media all and (min-width: 1536px) {
    .decoration_circle {
        width: 300px;
        height: 600px;
    }
}
/* star end */
